@page {
    margin: 1cm;
    margin-top: 2.5cm;
    margin-bottom: 2.5cm;
    @frame header {
        -pdf-frame-content: header-content;
        top: 1cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1cm;
    }
    @frame footer {
        -pdf-frame-content: footer-content;
        bottom: 1cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1cm;
    }
}

.doc-title {
    font-size: 24px;
    font-weight: bold;
}

.tab {
    margin-left: 1.5em;
}

.align-right {
    text-align: right;
}

table {
    border: solid, black, 1px;
    padding-left: 2px;
    padding-top: 2px;
    margin-bottom: 30px;
}

th {
    background-color: grey;
}

pdftoc {
    color: #666;
}

pdftoc.pdftoclevel0 {
    font-weight: bold;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

pdftoc.pdftoclevel1 {
    margin-left: 1em;
}
