<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="templates/css/layout.css">
</head>

<body>

    {{>templates/partials/header}}

    <div class="doc-title">
        <p>IKEA eCommerce Programme - Deployment Testing</p>
    </div>

    <pdf:nextpage/>

    <div>
        <p><b>Contents</b></p>
        <pdf:toc />
    </div>

    <pdf:nextpage/>

    <section>
        <h1>Revision History</h1>
        <table>
            <tr>
                <th>Version number</th>
                <th>Primary Author(s)</th>
                <th>Team</th>
                <th>Version date</th>
                <th>Nature of change</th>
            </tr>
            <tr>
                <td>1.00</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>20.06.2013</td>
                <td>Document creation</td>
            </tr>
            <tr>
                <td>1.01</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>21.06.2013</td>
                <td>Document update/revision</td>
            </tr>
            <tr>
                <td>1.02</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>07.10.2013</td>
                <td>Added section 2.4 Service Proxy services</td>
            </tr>
            <tr>
                <td>1.03</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>16.08.2013</td>
                <td>Added section 4 Deployment Testing</td>
            </tr>
            <tr>
                <td>1.04</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>20.08.2013</td>
                <td>One Release Notes template for all streams</td>
            </tr>
            <tr>
                <td>1.05</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>21.08.2013</td>
                <td>Updates in section 2.3 <br>Added section 2.4, 2.5, 3, 5</td>
            </tr>
            <tr>
                <td>1.06</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>05.09.2013</td>
                <td>Updates in section 2.3 - table headers changed</td>
            </tr>
            <tr>
                <td>1.07</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>03.10.2013</td>
                <td>Updates in various sections based on discussion with CMs and Test Mgrs, savaed as Word 97 - 2003 document to improve the compatibility</td>
            </tr>
            <tr>
                <td>1.08</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>09.10.2013</td>
                <td>Split the Release Notes, Deployment Instructions and Deployment Testing into separate documents</td>
            </tr>
            <tr>
                <td>1.09</td>
                <td>Johan Strale</td>
                <td></td>
                <td>20.02.2017</td>
                <td>Changed into mustache template in order to automate instructions</td>
            </tr>
        </table>
    </section>

    <pdf:nextpage/>

    <section>

        <h1>Instructions to Access the application</h1>
        <p>Please provide guidance how to access the application after the deployment:</p>

        <table>
            <tr>
                <th>Step#</th>
                <th>Step Name</th>
                <th>Detailed instructions</th>
                <th>Comments</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Access IWF live</td>
                <td>{{CONFIG.LIVE_URL}}</td>
                <td>For easy of reference, bookmark this for later use</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Access IWF preview</td>
                <td>{{CONFIG.PREVIEW_URL}}</td>
                <td>For easy of reference, bookmark this for later use</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Access IWF authoring</td>
                <td>{{CONFIG.AUTHORING_URL}}</td>
                <td>This URL is mainly intended to be serven through the WSC Snippet Preview</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Access IWC</td>
                <td>{{CONFIG.IWC_URL}}</td>
                <td>For easy of reference, bookmark this for later use</td>
            </tr>
        </table>

    </section>

    <pdf:nextpage/>

    <section>

        <h1>Deployment Testing</h1>
        <h2>IKEA TestCenter/TestDesk Deployment Verification (Mandatory)</h2>
        <p>How can the implementing party be sure that the installation was correct? Please include sample installation, log file content, etc:</p>

        <table>
            <tr>
                <th>Step#</th>
                <th>Step Name</th>
                <th>Detailed instructions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Ensure script success</td>
                <td>Verify that the script succeeded without warnings or errors</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Verify files placed in /ikea/iwf/{cluster name}</td>
                <td>Ensure the filtered files polaced in the /ikea/iwf/{cluster name} dirs do not have placeholders (%XXX%) <br>Ensure the /ikea/iwf/{cluster name}/nwpconfig/backend_servers_config.properties has the correct release number in the header comment</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Verify the webapp has been successfully deployed</td>
                <td>These steps call a static URL which does not require backend connectivity. If these URLs return a 200 response, the deployment of the webapp is considered successful.</td>
            </tr>
            <tr>
                <td>a</td>
                <td>Verify auth.preview</td>
                <td>{{CONFIG.AUTHORING_URL}}/ie/en/css/{build}/baseline.css</td>
            </tr>
            <tr>
                <td>b</td>
                <td>Verify preview</td>
                <td>{{CONFIG.PREVIEW_URL}}/ie/en/css/{build}/baseline.css</td>
            </tr>
            <tr>
                <td>c</td>
                <td>Verify live</td>
                <td>{{CONFIG.LIVE_URL}}/ie/en/css/{build}/baseline.css</td>
            </tr>
            <tr>
                <td>d</td>
                <td>Verify IWC</td>
                <td>{{CONFIG.IWC_URL}}/ie/en/css/{build}/baseline.css</td>
            </tr>
        </table>

    </section>

    <pdf:nextpage/>

    <section>

        <h2>Deployment Manager Sanity Checks (Mandatory)</h2>
        <p>How can the Deployment Managers by sure that the deployment was correct? Please provide steps for Sanity Checks:</p>

        <table>
            <tr>
                <th>Step#</th>
                <th>Step Name</th>
                <th>Detailed instructions</th>
                <th>Comments</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Access the english frontpage on the Live server</td>
                <td>Follow the access instructions and navigate to the english page</td>
                <td>Verify that the page looks ok, with navigation and footer</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Access the english frontpage on the Preview server</td>
                <td>Follow the access instructions and navigate to the english page</td>
                <td>Verify that the page looks ok, with navigation and footer</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Access the english frontpage on the Authoring server</td>
                <td>Follow the access instructions and navigate to the english page</td>
                <td>Verify that the page looks ok, with navigation and footer</td>
            </tr>
        </table>

    </section>

    <pdf:nextpage/>

    <section>

        <h2>Development Team Smoke Testing (Mandatory)</h2>
        <p>Development test teams need to make sure that the application behaves as it should behave before we hand over the environment to the test team. The scope should be the high risk areas (interfaces and functionality), not a complete test and the smoke testing should take about an hour.</p>

        <table>
            <tr>
                <th>Step#</th>
                <th>Step Name</th>
                <th>Detailed instructions</th>
                <th>Comments</th>
            </tr>
            <tr>
                <td>1</td>
                <td>JUST DO IT...</td>
            </tr>
        </table>

    </section>

    {{>templates/partials/footer}}

</body>

</html>
