<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="templates/css/layout.css">
</head>

<body>

    {{>templates/partials/header}}

    <div class="doc-title">
        <p>IKEA eCommerce Programme - Deployment Instructions</p>
    </div>

    <pdf:nextpage/>

    <div>
        <p><b>Contents</b></p>
        <pdf:toc />
    </div>

    <pdf:nextpage/>

    <section>
        <h1>Revision History</h1>
        <table>
            <tr>
                <th>Version number</th>
                <th>Primary Author(s)</th>
                <th>Team</th>
                <th>Version date</th>
                <th>Nature of change</th>
            </tr>
            <tr>
                <td>1.00</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>20.06.2013</td>
                <td>Document creation</td>
            </tr>
            <tr>
                <td>1.01</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>21.06.2013</td>
                <td>Document update/revision</td>
            </tr>
            <tr>
                <td>1.02</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>07.10.2013</td>
                <td>Added section 2.4 Service Proxy services</td>
            </tr>
            <tr>
                <td>1.03</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>16.08.2013</td>
                <td>Added section 4 Deployment Testing</td>
            </tr>
            <tr>
                <td>1.04</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>20.08.2013</td>
                <td>One Release Notes template for all streams</td>
            </tr>
            <tr>
                <td>1.05</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>21.08.2013</td>
                <td>Updates in section 2.3 <br>Added section 2.4, 2.5, 3, 5</td>
            </tr>
            <tr>
                <td>1.06</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>05.09.2013</td>
                <td>Updates in section 2.3 - table headers changed</td>
            </tr>
            <tr>
                <td>1.07</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>03.10.2013</td>
                <td>Updates in various sections based on discussion with CMs and Test Mgrs, savaed as Word 97 - 2003 document to improve the compatibility</td>
            </tr>
            <tr>
                <td>1.08</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>09.10.2013</td>
                <td>Split the Release Notes, Deployment Instructions and Deployment Testing into separate documents</td>
            </tr>
            <tr>
                <td>1.09</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>24.02.2014</td>
                <td>Added new section 2.2 Directories affected by the deployment</td>
            </tr>
            <tr>
                <td>1.10</td>
                <td>Boris Rosival</td>
                <td></td>
                <td>18.05.2015</td>
                <td>Added new section for environment readiness</td>
            </tr>
            <tr>
                <td>1.11</td>
                <td>Johan Strale</td>
                <td></td>
                <td>20.02.2017</td>
                <td>Changed into mustache template in order to automate instructions</td>
            </tr>
        </table>
    </section>

    <pdf:nextpage/>

    <section>
        <h1>References</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>IKEA-eComm-IWF-Deployment-Testing-{{ENV}}.pdf</td>
                <td>Instructions to test the deployment</td>
            </tr>
            <tr>
                <td>IKEA-eComm-IWF-Deployment-OEM-{{ENV}}.pdf</td>
                <td>Instructions to deploy IWF webapp using OEM</td>
            </tr>
            <tr>
                <td>IKEA-eComm-IWF-FileGenerator-Deployment-OEM-{{ENV}}.pdf</td>
                <td>Instructions to deploy file generator using OEM</td>
            </tr>
            <tr>
                <td>IKEA-eComm-IWC-Deployment-OEM-{{ENV}}.pdf</td>
                <td>Instructions to deploy IWC using OEM</td>
            </tr>
        </table>
    </section>

    <pdf:nextpage/>

    <section>

        <h1>Deployment instructions</h1>
        <p>Please indicate all steps to be executed in the installation process (e.g. deployment preparation steps, configuration properties, environment variables, application server or databases setup, additional deployment activities, etc.)</p>
        <p>If detailed documentation exists for installation process of general patches, please include references to chapter "References" of this documentation. Please fill in all the fields:</p>

        <table>
            <tr>
                <th>Step#</th>
                <th>Step Name</th>
                <th>Detailed instructions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Install through OEM</td>
                <td>Install to {{ENV}} through OEM. <br> Refer IKEA-eComm-IWF-Deployment-OEM-{{ENV}}.pdf</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Install through OEM</td>
                <td>Deploy file generator to {{ENV}} through OEM. (Can be run in parallel with step 1.)<br>Refer - IKEA-eComm-FileGenerator-Deployment-OEM-{{ENV}}.pdf</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Install through OEM</td>
                <td>Deploy IWC to {{ENV}} through OEM. <br>Refer - IKEA-IWC-Deployment-OEM-{{ENV}}.pdf</td>
            </tr>
        </table>

    </section>

    <pdf:nextpage/>

    <section>

        <h1>Directories affected by the deployment (mandatory)</h1>
        <p>Please provide a list of directories which are affected by the deployment. This is required due to File Integrity Monitoring.</p>

        <table>
            <tr>
                <th>Directory path</th>
                <th>Other information</th>
            </tr>
            <tr>
                <td>/ikea/iwf/*</td>
            </tr>
            <tr>
                <td>/opt/oracle/middleware/user_projects/{domain}</td>
            </tr>
        </table>

    </section>

    <section>

        <h1>Environment Readiness</h1>
        <p>Please provide all required information for infrastructure team to check if the enviornment is ready for the deployment.</p>

        <table>
            <tr>
                <th>Servers Targeted for the planned deployment</th>
                <th>Mount Points</th>
                <th>Disk Space required</th>
            </tr>
            <tr>
                <!-- INSERT VALUES FROM CONFIG -->
                <td>TODO</td>
            </tr>
        </table>

    </section>

    <pdf:nextpage/>

    <section>

        <h1>Backup scenario (if necessary)</h1>
        <p>Please state procedure to backup the objects affected by this installation</p>

    </section>

    <section>

        <h1>Rollback/Uninstallation instructions (mandatory)</h1>
        <p>Execute Deployment Instructions for {Build} IWF Component</p>

    </section>

    {{>templates/partials/footer}}

</body>

</html>
